<div class="row">
  <div class="container">
    <mat-card>
      <mat-card-content>
        <h2>Just another Angular project based on JSON-Placeholder.</h2>
        <p>
          On first usage of this applciation data are loaded from JSON
          Placeholder, then stored inside Session Storage.
        </p>
        <p>
          Once data is retrieved, Session Storage simulates Backend API's adding
          and removing resources from data collection.
        </p>
        <p class="text-end">
          <small>Angular V.{{ version }}</small>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
