<div class="container">
  <div class="row">
    <div class="col-12text-center">
      <mat-toolbar color="primary">
        <mat-toolbar-row class="d-flex justify-content-between">
          <div>
            <a mat-button routerLink="/home"><h2>JSONPlaceholder</h2></a>
          </div>
          <div>
            <a
              mat-button
              routerLink="/posts"
              routerLinkActive="text-decoration-underline"
              >Posts</a
            >
            <a
              mat-button
              routerLink="/users"
              routerLinkActive="text-decoration-underline"
              >Users</a
            >
            <a
              mat-button
              routerLink="/comments"
              routerLinkActive="text-decoration-underline"
              >Comments</a
            >
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
